body{
    background-color: #8ba1bb;
    font-family: Arial;
    
}
p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 0px;
    padding: 8px 18px;
    margin-bottom: 0px ;
    font-weight: bold;
    font-size: 16px;
}
div.contenu{
    background-color: white;
    margin: 0px 10% 80px 10%;
    padding: 10% ;
    min-width: 300px;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 1);
}
h1{
    text-align: center ;
}
p.para{
    text-align: center;
    max-width: 400px;
    display: inline;
    font-size: 18px;
}
.center{
    text-align: center;
    width: 100%;
   
}
div.categorie{
    text-align: center;
    margin-bottom: -18px;
    margin-top: 60px;
   
}
div.separateur{
     width: 100px;
     height: 2px;
     margin-left: auto;
     margin-right: auto;
    background-color: black;
}
div.info{
    position: relative; 
               
}
table.info{
        position: absolute;
        bottom: 0px;
        width : 100% ;
        background-color: #6c829dc0;
        color:white;

}   
table.info tr{
    text-align: center;
    font-size: 14px ;
    vertical-align: top;
}
table.info th{
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 8px;
}
img.info{
    display : block ;
    max-height: 500px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightblue;

}
div.colonne{
    width: 45%;
    margin-top: 20px;
    padding-bottom: 5px;
}
.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom: 10px solid #6c829dc0;
}
div.colonne1{
    margin-right: 10%;
    display:inline-block ;

}
div.colonne2{
    float: right;


}
div.liste p{
    border: 1px solid lightgray;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
}
table.preparation p.numero{
    background-color: #6c829d;
    width: 25px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50%;
    margin: 0;

}
table.preparation{
    font-size: 20px;
    
}
table.preparation td{
    vertical-align: top;
}
table.preparation td.preparation_etape{
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 10px;

}
table.preparation tr{
    height: 40px;
}
*{
    overflow: auto;
}